@use '../../styles/settings';

$checkbox-flex: 0 1 auto !default;
$checkbox-disabled-color: rgba(var(--base-theme-on-surface), var(--base-disabled-opacity)) !default;
$checkbox-error-color: rgb(var(--base-theme-error)) !default;