@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:selector';
@use '../../styles/settings';
@use './variables' as *;

@mixin chip-sizes {
  @each $sizeName, $multiplier in settings.$size-scales {
    $size: map.get($chip-sizes, 'font-size') + math.div(2 * $multiplier, 16);
    $height: map.get($chip-sizes, 'height') + (6 * $multiplier);
    $padding: math.round(math.div($height, $chip-padding-ratio));

    .base-chip.base-chip--size-#{$sizeName} {
      --base-chip-size: #{$size};
      --base-chip-height: #{$height};
      font-size: $size;
      padding: 0 $padding;

      .base-avatar {
        --base-avatar-height: #{$height - 6};

        @at-root #{selector.append('.base-chip--pill', &)} {
          --base-avatar-height: #{$height};
        }
      }
      .base-avatar--start {
        margin-inline-start: -$padding * .7;
        margin-inline-end: $padding * .5;

        @at-root #{selector.append('.base-chip--pill', &)} {
          margin-inline-start: -$padding;
        }
      }
      .base-avatar--end {
        margin-inline-start: $padding * .5;
        margin-inline-end: -$padding * .7;

        @at-root #{selector.append('.base-chip--pill', &)} {
          margin-inline-end: -$padding;
        }

        + .base-chip__close {
          @at-root #{selector.append('.base-chip--pill', &)} {
            margin-inline-start: $padding * 1.5;
          }
        }
      }

      .base-icon--start,
      .base-chip__filter {
        margin-inline-start: -$padding * .5;
        margin-inline-end: $padding * .5;
      }
      .base-icon--end,
      .base-chip__close {
        margin-inline-start: $padding * .5;
        margin-inline-end: -$padding * .5;
      }
      .base-icon--end,
      .base-avatar--end,
      .base-chip__append {
        + .base-chip__close {
          margin-inline-start: $padding;
        }
      }
    }
  }
}

@mixin chip-density($properties, $densities) {
  @each $density, $multiplier in $densities {
    $value: calc(var(--base-chip-height) + #{$multiplier * settings.$spacer});

    &.base-chip--density-#{$density} {
      @if meta.type-of($properties) == 'list' {
        @each $property in $properties {
          #{$property}: $value;
        }
      } @else {
        #{$properties}: $value;
      }
    }
  }
}