<div class="container__element container__element--pl68">
  <div class="grid grid-t">

    <div class="grid">
      <div class="flex-2col d-flex">
        <div class="mx-fc mxw100"><p class="text text__tt-uppercase text__white-space-nowrap text__lh--1d5 text__color--grey-d7 pr-8">Last price</p></div>
        <div class="mxw100">
          <span class="company-detail-header__last-price text__header3 text__white-space-nowrap">{{ company_info.last_price }}</span>
        </div>
      </div>
    </div>

    <div class="grid grid-c">
      <div class="flex-2col d-flex">
        <div class="mx-fc mxw100"><p class="text text__tt-uppercase text__white-space-nowrap text__lh--1d5 text__color--grey-d7 pr-8">Market cap</p></div>
        <div class="mxw100">
          <span class="company-detail-header__market-cap text__header3 text__white-space-nowrap">{{ company_info.market_cap }}</span>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="flex-2col d-flex">
        <div class="mx-fc mxw100"><p class="text text__tt-uppercase text__white-space-nowrap text__lh--1d5 text__color--grey-d7 pr-8">7D</p></div>
        <div class="mxw100">
          <span class="company-detail-header__7d-return text__header3 text__white-space-nowrap {% if company_info.return_7d.is_profitable %}text__header3--profitable{% else %}text__header3--not-profitable{% endif %}">{{ company_info.return_7d.share_return}}</span>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="flex-2col d-flex">
        <div class="mx-fc mxw100"><p class="text text__tt-uppercase text__white-space-nowrap text__lh--1d5 text__color--grey-d7 pr-8">1Y</p></div>
        <div class="mxw100">
          <span class="company-detail-header__1y-return text__header3 text__white-space-nowrap {% if company_info.return_1y.is_profitable %}text__header3--profitable{% else %}text__header3--not-profitable{% endif %}">{{ company_info.return_1y.share_return }}</span>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="flex-2col d-flex">
        <div class="small-price-history-chart"><div id="small-price-history-chart"></div></div>
      </div>
    </div>

    <div class="grid">
      <div class="flex-2col flex-2col--f-end d-flex">
        <div class="mx-fc mxw100"><p class="text text__tt-uppercase text__white-space-nowrap text__lh--1d5 text__color--grey-d7 pr-8">Updated</p></div>
        <div class="mxw100 flex-50">
          <span class="company-detail-header__last-update text__header3 text__white-space-nowrap text__fsz--1d2">{{ last_report.updated|date:'d M, Y'}}</span>
        </div>
      </div>
    </div>

    <div class="grid grid-c">
      <div class="flex-2col flex-2col--f-end d-flex">
        <div class="mx-fc mxw100"><p class="text text__tt-uppercase text__white-space-nowrap text__lh--1d5 text__color--grey-d7 pr-8">Data</p></div>
        <div class="mxw100 flex-50">
          <span class="text__header3 text__white-space-nowrap text__fsz--1d2">
            <span>Company Financials</span>
            {% if company_info.analyst_ideas %}
              <span>+ </span>
              <button class="button text button--like-link button--without-border button--with-box-shadow analyst_sources_open_button">
                {% with company_info.analyst_ideas.count as total_ideas  %} {{ total_ideas }} Analyst{{ total_ideas|pluralize }} {% endwith %}
              </button>
            {% endif %}
            </span>
        </div>
      </div>
    </div>

  </div>
</div>