.notes_modal_menu {
    background-color: rgba(0, 0, 0 , .8);
    transition: opacity .4s cubic-bezier(.23, 1, .32, 1);
}

.notes_modal_menu__inner {
    width: 886px;
    color: #8c929b;
    background-color: #1b222d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, right 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, width 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, height 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transform: translate3d(0px, 0%, 0px);
}

.notes_modal_menu__header {
    padding: 16px 8px 8px;
    border-bottom: none;
}

.notes_modal_menu__button:not(:disabled):hover {
    background-color: rgba(255, 255, 255, .05);
}

.notes_modal_menu__button {
    height: 32px;
}

.notes_modal_menu__button--reminder svg {
    width: 20px;
    height: 20px;
}

.notes_modal_menu__title {
    margin-left: 10px;
    font-size: 1.4rem;
}

.notes_modal_menu__main {
    height: 300px;
    padding: 0 24px;
    border-bottom: none;
}

.tiptap {
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.tiptap p {
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.notes_modal_menu__footer {
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    padding: 8px 0;
    border-top: 1px solid #494e57;
}

.notes_modal_menu__left-footer {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.notes_modal_menu__right-footer {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.notes_modal_menu__save-state {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #8c929b;
}

.notes_modal_menu__volume-state {
    transform: rotate(-90deg);
}

.notes_modal_menu__volume-state-total {
    stroke: rgba(255, 255, 255, .1);
    stroke-width: 2px;
    stroke-linecap: round;
    r: 9;
    fill: none;
    cx: 50%;
    cy: 50%;
}

.notes_modal_menu__volume-state-used {
    stroke: rgb(35, 148, 223);
    stroke-dashoffset: 56.248;
    stroke-dasharray: 56.2705;
    transition: stroke-dashoffset 0.2s ease 0s, stroke 0.4s ease 0s;
    stroke-width: 2px;
    stroke-linecap: round;
    r: 9;
    fill: none;
    cx: 50%;
    cy: 50%;
}

.notes_modal_menu__close-button {
    cursor: pointer;
    appearance: none;
    position: relative;
    transition: background-color .2s ease 0s, box-shadow .2s ease 0s, color .4s ease 0s, padding .4s ease 0s;
    border-radius: 6px;
    text-decoration: none;
    vertical-align: top;
    line-height: 40px;
    color: rgb(35, 148, 223);
    height: 40px;
    padding: 0 12px;
    box-shadow: rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
    background-color: rgba(53, 110, 233, .1);
    font-size: 1.4rem;
}

.notes_modal_menu--lateral {
    z-index: 100;
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: 40px;
    width: 433px;
    height: 390px;
    background: none;
    padding: 0;
    overflow: visible;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, right 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, width 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, height 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transform: translate3d(0px, 0%, 0px);
}

.notes_modal_menu--lateral .notes_modal_menu__inner {
    width: 100%;
    height: 100%;
    box-shadow: rgba(11, 14, 19, .25) -10px -10px 10px, rgba(11, 14, 19, .1) 10px 10px 10px;
    border: 1px solid rgb(38, 46, 58);
}

.notes_modal_menu--lateral .notes_modal_menu__main {
    min-height: 200px;
    height: 270px;
}



