@use '../../styles/tools';

@include tools.layer('components') {
  .base-layout {
    --base-scrollbar-offset: 0px;
    display: flex;
    flex: 1 1 auto;

    &--full-height {
      --base-scrollbar-offset: inherit;
      height: 100%;
    }
  }
}