.dropdown-menu {
	display: none;
	position: absolute;
	top: 40px;
	width: 280px;
	z-index: 5;
	max-height: 300px;
	overflow-y: auto;
	border-radius: 8px;
}

.dropdown-menu--active {
	display: block;
}

.dropdown-menu::-webkit-scrollbar {
	width: 10px;

}

.dropdown-menu::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, .2);
	background-color: #f9f9fd;
	border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #00c6fb, #005bea);
}

.dropdown-menu__inner {
	background-color: #212529;
	width: 100%;
	height: 100%;
}

.dropdown-menu__form {
	padding: .8rem;
	width: 100%;
	margin-bottom: .8rem;
	position: sticky;
	background-color: inherit;
	top: 0;
}

.dropdown-menu__input {
	width: 100%;
	height: 40px;
	font-size: 1.6rem;

	padding: .6rem 1.2rem;

	background-color: #212529;
	border: 1px solid #495057;
	border-radius: 8px;
	outline: none;

	font-weight: 400;
	line-height: 1.5;
	appearance: none;
	color: #fff;

	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dropdown-menu__input:focus {
	color: #fff;
	border-color: #86b7fe;
	box-shadow: 0 0 0  .4rem rgba(13, 110, 253, .25);
}

.dropdown-menu__list {
	font-size: 1.4rem;
	font-weight: 400;
	border-radius: 8px;

	overflow: hidden;
}

.dropdown-menu__list li {
	list-style: none;
}

.dropdown-menu__list li a {
	display: block;
	padding: .8rem 1.6rem;
}

.dropdown-menu__list li a:hover {
	background-color: var(--blue);
}