<div class="detail__summery">

    {% include 'invest/company/detail/main/content/summary/stock_overview.html' with company=company %}

    {% include 'invest/company/detail/main/content/summary/my_notes.html' %}

    {% include 'invest/company/detail/main/content/summary/competitors.html' %}

    {% include 'invest/company/detail/main/content/summary/price_history_performance.html' with company=company %}

    {% include 'invest/company/detail/main/content/summary/about_the_company.html' with company=company report=report %}

    {% include 'invest/company/detail/main/content/summary/fundamental_summary.html' %}

</div> <!-- /detail__summery -->