$ripple-animation-transition-in: transform .25s cubic-bezier(0.0, 0, 0.2, 1), opacity .1s cubic-bezier(0.0, 0, 0.2, 1) !default;
$ripple-animation-transition-out: opacity .3s cubic-bezier(0.0, 0, 0.2, 1) !default;
$ripple-animation-visible-opacity: .25 !default;