

// BaseSelectionControl
$selection-control-disabled-color: rgba(var(--base-theme-on-surface), var(--base-disabled-opacity)) !default;
$selection-control-error-color-color: rgba(var(--base-theme-error)) !default;
$selection-control-density: ('default': 0, 'comfortable': -1, 'compact': -3) !default;
$selection-control-color: rgba(var(--base-theme-on-surface), var(--base-high-emphasis-opacity)) !default;
$selection-control-size: 40px !default;