.base-theme--light {
  --base-theme-surface: 255, 255, 255;
  --base-theme-on-surface: 38, 46, 58;
  --base-theme-overlay-multiplier: 1;
  --base-border-color: 0, 0, 0;
  --base-border-opacity: .12;
  --base-activated-opacity: .12;
  --base-high-emphasis-opacity: .87;
  --base-shadow-key-umbra-opacity: 1;
  --base-shadow-key-penumbra-opacity: 1;
  --base-shadow-key-ambient-opacity: 1;
  --base-focus-opacity: 0.12;
}
.base-theme--blue {
  --base-theme-surface: 35, 148, 223;
  --base-theme-on-surface: 255, 255, 255;
  --base-theme-overlay-multiplier: 1;
  --base-border-color: 255, 255, 255;
  --base-border-opacity: .12;
  --base-activated-opacity: .12;
  --base-high-emphasis-opacity: .87;
  --base-shadow-key-umbra-opacity: 1;
  --base-shadow-key-penumbra-opacity: 1;
  --base-shadow-key-ambient-opacity: 1;
  --base-focus-opacity: 0.12;
}
.base-theme--dark {
  --base-theme-surface: 33,33,33;
  --base-theme-on-surface: 255,255,255;
  --base-theme-overlay-multiplier: 1;
  --base-border-color: 255, 255, 255;
  --base-border-opacity: .12;
  --base-activated-opacity: .12;
  --base-high-emphasis-opacity: .87;
  --base-shadow-key-umbra-opacity: 1;
  --base-shadow-key-penumbra-opacity: 1;
  --base-shadow-key-ambient-opacity: 1;
  --base-focus-opacity: 0.12;
}
.base-theme--dark-blue {
  --base-theme-surface: 53,110,233, 0.1;
  --base-theme-on-surface: 35, 148, 223;
  --base-theme-overlay-multiplier: 1;
  --base-border-color: 35, 148, 223;
  --base-border-opacity: .12;
  --base-activated-opacity: .12;
  --base-high-emphasis-opacity: .87;
  --base-shadow-key-umbra-opacity: 1;
  --base-shadow-key-penumbra-opacity: 1;
  --base-shadow-key-ambient-opacity: 1;
  --base-focus-opacity: 0.12;
}
.base-theme--error {
  --base-theme-surface: 230, 65, 65;
  --base-theme-on-surface: 255,255,255;
  --base-theme-overlay-multiplier: 1;
  --base-border-color: 255,255,255;
  --base-border-opacity: .12;
  --base-activated-opacity: .12;
  --base-high-emphasis-opacity: .87;
  --base-shadow-key-umbra-opacity: 1;
  --base-shadow-key-penumbra-opacity: 1;
  --base-shadow-key-ambient-opacity: 1;
  --base-focus-opacity: 0.12;
}
.base-theme--success {
  --base-theme-surface: 45, 201, 126;
  --base-theme-on-surface: 0,0,0;
  --base-theme-overlay-multiplier: 1;
  --base-border-color: 0,0,0;
  --base-border-opacity: .12;
  --base-activated-opacity: .12;
  --base-high-emphasis-opacity: .87;
  --base-shadow-key-umbra-opacity: 1;
  --base-shadow-key-penumbra-opacity: 1;
  --base-shadow-key-ambient-opacity: 1;
  --base-focus-opacity: 0.12;
}
.base-theme--grey {
  --base-theme-surface: 232, 232, 232;
  --base-theme-on-surface: 255,255,255;
  --base-theme-overlay-multiplier: 1;
  --base-border-color: 255,255,255;
  --base-border-opacity: .12;
  --base-activated-opacity: .12;
  --base-high-emphasis-opacity: .87;
  --base-shadow-key-umbra-opacity: 1;
  --base-shadow-key-penumbra-opacity: 1;
  --base-shadow-key-ambient-opacity: 1;
  --base-focus-opacity: 0.12;
}