@use '../../styles/tools';
@use './variables' as *;

@include tools.layer('components') {
  .base-infinite-scroll--horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    .base-infinite-scroll-intersect {
      height: 100%;
      width: var(--base-infinite-margin-size, 1px);
    }
    .base-infinite-scroll--vertical {
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      .base-infinite-scroll-intersect {
        height: 1px;
        width: 100%;
      }
    }
    .base-infinite-scroll-intersect {
      pointer-events: none;
      margin-top: var(--base-infinite-margin);
      margin-bottom: calc(var(--base-infinite-margin) * -1);

      &:nth-child(2){
        --base-infinite-margin: var(--base-infinite-margin-size, 1px);
      } // TODO: "1 of &" would be more stable if structure changes
      &:nth-last-child(2) {
        --base-infinite-margin: calc(var(--base-infinite-margin-size, 1px) * -1);
      }
    }
    .base-infinite-scroll__side {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: $infinite-scroll-side-padding;
    }
  }
}