<div class="dropdown-menu">
    <div class="dropdown-menu__inner">
        {% if has_search %}
        <form class="dropdown-menu__form">
            <input type="search" class="dropdown-menu__input" autocomplete="false" placeholder="Type to filter...">
        </form>
        {% endif %}
        <ul class="dropdown-menu__list">
            {% if type == 'country'  %}
                    <li><a href="{% url 'invest:company_list_with_two_options' 'global' current_options.sorter_slug %}">Global</a></li>
                {% for selector in selectors_list.country_list  %}
                    <li><a href="{% url 'invest:company_list_with_two_options' selector.name_iso current_options.sorter_slug %}">{{ selector.name }}</a></li>
                {% endfor %}
            {% endif %}

            {% if type == 'sector'  %}
                <li><a href="{% url 'invest:company_list_with_all_options' current_options.country_iso 'any' current_options.sorter_slug %}">Any</a></li>
                {% for selector in selectors_list.sector_list  %}
                    <li><a href="{% url 'invest:company_list_with_all_options' current_options.country_iso selector.slug current_options.sorter_slug %}">{{ selector.title }}</a></li>
                {% endfor %}
            {% endif %}

            {% if type == 'sorter'  %}
                {% for selector in selectors_list.sorter_list  %}
                    <li><a href="{% url 'invest:company_list_with_all_options' current_options.country_iso current_options.sector_slug selector.slug %}">{{ selector.title }}</a></li>
                {% endfor %}
            {% endif %}

        </ul>
    </div>
</div>
