{% load static %}
<div class="modal__menu modal__menu--register login">
    <div class="login__inner">
        <div class="login__login-form">
            <img src="{% static 'invest/images/icons/close-button.svg' %}" class="login__close-button">
            <section class="login-form__left-section">

                <div class="login-form__wrapper">
                    <div class="login-left-section__inner">
                        <div class="default-logo login-left-section__logo">Arcipelago</div>
                        <div class="login-left-section__info">
                            <div class="login-left-section__h">The revolution for<span>long-term investors</span></div>
                            <div class="login-left-section__p">Packed with data-driven analysis and intelligent tools to enhance your investment journey.</div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="login-form__right-section">

                <div class="login-right-section__inner">
                    <div class="login-right-section__sign-up">
                        <div class="form__errors register-form__errors">
                            <p></p>
                        </div>
                        <form method="post" id="registration-form" action="{% url 'register' %}" class="login-right-section__form">

                            {% include 'invest/base/blocks/form_constructor.html' with selected_form=registration_form %}

                            <button disabled class="content__button form__button form__button--disabled" type="submit">Регистрация</button>

                        </form>

                        <div class="login-right-section__socials">
                            <div class="login-right-section__p login-right-section__p--social">Или зарегистрироваться с помощью:</div>
                            <div class="login-right-section__socials-icons">
                                <div class="login-right-section__socials-icon">
                                    <button class="login-right-section__social-button">
                                        <img src="{% static 'invest/images/icons/google-color.svg' %}">
                                    </button>
                                </div>

                                <div class="login-right-section__socials-icon">
                                    <button class="login-right-section__social-button">
                                        <img src="{% static 'invest/images/icons/facebook.svg' %}">
                                    </button>
                                </div>

                                <div class="login-right-section__socials-icon">
                                    <button class="login-right-section__social-button">
                                        <img src="{% static 'invest/images/icons/apple.svg' %}">
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="login-right-section__sign-in">Уже есть аккаунт? <span class="modal__loginButton">Войти</span></div>
                    </div>
                    <div class="login-right-section__conditions">
                        <p>
                            By using Simply Wall St you are agreeing to our <br>
                            <a href="#" target="_blank">terms and conditions</a>.
                            Simply Wall St provides <br>general investment advice only.
                        </p>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>