{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'invest/base/blocks/favicon_declaration.html' %}
    <meta name="yandex-verification" content="8622685c28db44b3" />

	<title>
        {% block title %}
        Finargo - Финансовые новости, аналитика, инвестиции
        {% endblock %}
    </title>

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

	<link rel="stylesheet" href="{% static 'invest/css/main.css' %}">

  {% block styles %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}
  <script type="module" src="{% static 'invest/js/base/nav-search.js' %}" defer></script>
  <script type="module" src="{% static 'invest/js/base/dropdown-menu.js' %}" defer></script>
  <script type="module" src="{% static 'invest/js/base/login-form.js' %}" defer></script>
  <script type="module" src="{% static 'invest/js/base/notification.js' %}" defer></script>
  <script type="module" src="{% static 'invest/js/base/modal-menu.js' %}" defer></script>
</head>
<body>

<div id="root">

	<div class="header">
		<div class="header__inner">
			<nav class="navigation">
				<div class="default-logo navigation__logo"><a href="/">Finargo</a></div>
				<div class="navigation__nav-menu">
          <a href="#" class="nav-menu__item">Dashboard</a>
          <a href="#" class="nav-menu__item">Портфель</a>
          <a href="#" class="nav-menu__item">Статьи</a>
          <a href="{% url 'invest:company_list' %}" class="nav-menu__item">Рынки</a>
          <a href="#" class="nav-menu__item">Watchlist</a>
          <a href="#" class="nav-menu__item">Screener</a>

          {% include 'invest/base/navigation/nav-search.html' %}

				</div>

				<div class="navigation__nav-lang">
					<button class="nav-lang__nav-button">
						<span class="nav-button__flag"><img src="{% static 'invest/images/flags/ru.svg' %}"></span>
						<span class="nav-button__langcode">RU</span>
					</button>
				</div>
				<div class="navigation__account-access">
					<div class="account-access__inner">
						{% if request.user.is_authenticated %}
						<button class="account-access__button"></button>
						<span class="account-access__user"><ion-icon name="person"></ion-icon></span>
						<span class="account-access__chevron"><ion-icon name="chevron-down"></ion-icon></span>
						{% else %}
						<button class="modal__initLoginButton account-access__button--login">Вход</button>
						{% endif %}
					</div>
					{% include 'invest/base/blocks/account-dropdown-menu.html' %}
				</div>
			</nav>
		</div>
	</div>

	{% block content %}
	{% endblock %}
</div>
	{% include 'invest/base/blocks/initial_registration_form.html' %}
	{% include 'invest/base/blocks/registration_form.html' %}
	{% include 'invest/base/blocks/login_form.html' %}
  {% include 'invest/base/svg/icons.html' %}

</body>
</html>