@use '../../styles/tools';
@use "./variables" as *;

@include tools.layer('components') {
  .base-selection-control-group {
    grid-area: $selection-control-group-grid-area;
    display: flex;
    flex-direction: column;

    &--inline {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}