{% load static %}
<div class="detail__sidebar">
  <section class="d-sidebar__inner">

    <div class="d-sidebar__header">
      <div class="d-sidebar__snowflake">
        <div class="detail__logo">
          <img
            class="sidebar__logo"
            src="{% if company.logo %}{{ company.logo.url }}{% else %}{% static 'invest/images/no-img2.png' %}{% endif %}"
            alt="{{ company.slug }}"
          >
        </div>
      </div>
    </div>

    <div class="d-sidebar__body">
      <p class="text__p text__overflow-hidden w100">
        {{ company.title }}
        <span>
          <svg class="d-sidebar__icon d-sidebar__icon--grey d-sidebar__copy">
          <use href="#copy-icon"></use>
        </svg>
        </span>
      </p>
        <p class="text__header3 text__overflow-hidden w100 text__color--grey-d7">{{ company.market.title }}:{{ company.slug|upper }} Stock Report</p>
        <p class="company-detail-sidebar__market-cap text text__color--grey-d7">Mkt Cap: {{ company_info.market_cap }}</p>
        <div class="mt-12">
          <section class="d-sidebar__buttons">
            {% if request.user not in company.users_watchlist.all %}
              <button class="button-watchlist button text button--theme-bg-blue ml-4 pl-36">
                <svg class="svg button__svg"><use href="#outline-star-icon"></use></svg>
                Add to watchlist
              </button>
            {% else %}
              <button class="button-watchlisted button text button--theme-bg-blue ml-4">
                <svg class="svg button__svg button__svg--unique-object"><use href="#star-solid-icon"></use></svg>
              </button>

              <button class="button-note button text button--theme-bg-blue ml-4 pl-36">
                <svg class="svg button__svg">
                  <use href="#pen-icon"></use>
                </svg>
                Add note
              </button>
            {% endif %}

              <button class="button text ml-4">
                  <svg class="svg button__svg button__svg--unique-object svg--fill-black"><use href="#dot3-icon"></use></svg>
              </button>
          </section>
        </div>
    </div>

    <div class="d-sidebar__footer">
      <nav class="d-sidebar__navigation">
        <ul class="ul text__lh--1d5 pl-16 text__fsz--1d6">
          <li class="d-sidebar__li d-sidebar__li--active"><a href="#">Company Overview</a></li>
          <li class="d-sidebar__li"><a href="#"><label class="pr-10">1</label>Valuation</a></li>
          <li class="d-sidebar__li"><a href="#"><label class="pr-10">2</label>Future Growth</a></li>
          <li class="d-sidebar__li"><a href="#"><label class="pr-10">3</label>Past Performance</a></li>
          <li class="d-sidebar__li"><a href="#"><label class="pr-10">4</label>Financial Health</a></li>
          <li class="d-sidebar__li"><a href="#"><label class="pr-10">5</label>Dividend</a></li>
          <li class="d-sidebar__li"><a href="#"><label class="pr-10">6</label>Management</a></li>
          <li class="d-sidebar__li"><a href="#"><label class="pr-10">7</label>Ownership</a></li>
          <li class="d-sidebar__li"><a href="#">Other Information</a></li>
        </ul>
      </nav>
    </div>

  </section>
</div> <!-- /detail__sidebar -->