.navigation__nav-search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 24px;
	width: 271px;
}

.nav-search__inner {
	width: 100%;
	z-index: 1;
	background: transparent;
	position: relative;
}

.nav-search__input {
	padding: 14px 48px;
	appearance: none;
	border: 1px solid rgba(255, 255, 255, .2);
	font-size: 1.4rem;
	width: 100%;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .05);
	font-weight: normal;
	height: 40px;
	line-height: normal;
	caret-color: var(--blue);
	color: #fff;

	transition: border .2s ease 0s, background-color .2s ease 0s;
}

.nav-search__input:focus {
	outline: none;
	background: rgba(35, 148, 223, .05)
}

.nav-search__prefix {
    position: absolute;
	left: 12px;
	font-size: 20px;
	color: var(--blue);
	height: 40px;
	line-height: 41px;
}

.nav-search__prefix-icon {
    height: 100%;
    fill: #2394df;
}

.nav-search__postfix {
    position: absolute;
	right: 12px;
	font-size: 20px;
	color: var(--blue);
	height: 40px;
	line-height: 41px;
}

.nav-search__postfix-icon {
    fill: #fff;
    height: 100%;
    opacity: .5;
    cursor: pointer;
}

.nav-search__postfix-icon use {
	pointer-events: none;
}

.nav_search__dropdown {
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 0px;
	transform: translate(1020px, 55px);

	transition: opacity 300ms linear 0s, transform 300ms ease-out 0s;
	opacity: 1;
}
.nav-search__dropdown-inner {
	width: 400px;
	overflow: hidden;

	top: 4px;
	left: 0px;
	position: absolute;
	background-color: rgb(27, 34, 45);
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	max-height: 325px;
	overflow: hidden auto;
}

.nav-search__dropdown-list {
	list-style: none;
	font-size: 1.6rem;
}

.nav-search__dropdown-link {
	transition: all 0.3s ease 0s;
	color: rgb(35, 148, 223);
	text-decoration: none;

	position: relative;
	display: flex;
	height: 64px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	padding-bottom: 8px;
	background-color: transparent;
}

.nav-search__dropdown-link:hover {
	background-color: rgba(95, 104, 117, 0.1);
}

.nav-search__dropdown-link-icon {
	margin-left: 16px;
	background-color: #fff;
	border-radius: 100%;
	width: 48px;
	height: 48px;
	align-self: center;

}
.nav-search__dropdown-info {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;
}

.nav-search__dropdown-desc {
	padding-left: 12px;
	padding-top: 8px;
	width: 205px;
}
.nav-search__dropdown-title {
	display: flex;
	flex-flow: wrap;
	justify-content: left;

	width: 100%;
	padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(255, 255, 255);

	line-height: 1.5;
	font-weight: 500;
}
.nav-search__dropdown-market {
	display: grid;
	grid-template-columns: 24px auto;
	-webkit-box-align: center;
	align-items: center;
}
.nav-search__dropdown-market-img {
	width: 16px;
	height: 11px;
}
.nav-search__dropdown-market-title {
	text-transform: uppercase;
	font-size: 1.2rem;
	line-height: 1.5;
	color: rgba(255, 255, 255, .5);
}
.nav-search__dropdown-sector {
	align-self: center;
	width: 80px;
	max-width: 51px;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-right: 16px;

	border-radius: 12px;
	padding: 3px 12px;
	background-color: rgb(38, 46, 58);
	color: rgba(242, 242, 243, .5);
	height: 26px;
}

