.navigation {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	position: relative;
}

.navigation__logo {
	position: absolute;
	left: 24px;
	top: 8px;

}

.navigation__nav-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 215px;
	margin-right: auto;
}