.analysis-section__intro {
    margin: -2.4rem -3.2rem 1.6rem;
    padding: 2.4rem 3.2rem 2.4rem;
    background-color: rgb(32, 40, 51);
    border-radius: 8px 8px 0 0;
}

.analysis-section__intro-title {
    margin-bottom: 8px;
    font-size: 2.8rem;
    line-height: 1.25;
    font-weight: 500;
}

.analysis-section__title {
    margin: 16px 0 24px;
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 500;
}

.analysis-section__title-num {
    color: rgba(255, 255, 255, .2);
    line-height: .75;
    padding-right: 16px;
}

.analysis-section__desc {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.7;
    margin-bottom: 16px;
}

.analysis-section__content {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
}

.analysis-section__content-item {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    min-height: 0;
}

.analysis-section__content-item--centred {
    display: flex;
    align-items: center;
}

.analysis-section__content-item-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: 50% auto;
}

.analysis-section__points {
    margin-top: 3.2rem;
}

.analysis-section__point {
    position: relative;
    margin-top: 8px;
}

.analysis-section__point-icon {
    position: absolute;
    top: 2px;
    left: 0;
}

.analysis-section__point-text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 8px;
    padding-left: 32px;
}

.analysis-section__point-title {
    color: #2dc97e;
}

.analysis-section__point-title--no-data {
    color: #e64141;
}

.analysis-section__key-valuation-metrics {
    display: grid;
    grid-template-columns: 35% auto;
    gap: 20px;
}