.detail-company__wrapper {
    margin-bottom: 1.6rem;
}

.detail-company__analysis-section {
    position: relative;
    padding: 2.4rem 3.2rem;
    border-radius: 8px;
    background-color: #1b222d;
}

.detail-company__analysis-section > hr {
	height: 1px;
	border: transparent;
	border-top: 1px solid #fff;
	opacity: .2;
	margin-top: 32px;
	margin-bottom: 16px;
}