.analyst-price-targets-chart {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(57, 67, 87);
    font-size: 3rem;
}