.historical-metrics-chart {
    height: 454px;
}

.historical-metrics-chart__tabs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .03);
    margin-bottom: 16px;
}

.historical-metrics-chart__tabs {
    justify-self: start;
}

.historical-metrics-chart__periodical-tabs {
    justify-self: end;
}

.historical-metrics-chart__periodical-tab-list {
    display: grid;
    grid-template-columns: repeat(4, 40px);
}

.historical-metrics-chart__periodical-tab {
    width: 100%;
    height: auto;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 4px;
    line-height: 1.5;
    font-weight: 500;
    color: rgba(255, 255, 255, .3);
    border-radius: 4px;
    font-size: 1.4rem;
}

.historical-metrics-chart__periodical-tab:disabled {
    cursor: auto;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .3);
}

.historical-metrics-chart__periodical-tab:hover:not(:disabled) {
    background: rgba(255, 255, 255, .1);
}

.historical-metrics-chart__tooltip {
    background: rgb(0, 0, 0);
    padding: 8px;
    margin: 0;
    width: 340px;
    max-width: 340px;
}

.historical-metrics-chart__tooltip-table {
    width: 100%;
    table-layout: auto;
    margin: 0 auto;
    border-spacing: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    user-select: none;
}

.historical-metrics-chart__tooltip-table thead tr th {
    line-height: 1.5;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    text-transform: capitalize;
    font-size: 1.2rem;
}

.historical-metrics-chart__tooltip-title {
    line-height: 1.5;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    vertical-align: top;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .5);
}

.historical-metrics-chart__tooltip-value {
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    vertical-align: top;
    font-size: 1.2rem;
    width: 100%;
    padding-left: 16px;
    font-weight: 500;
    color: rgb(35, 148, 223);
}