#price-history-chart .highcharts-button-box {
    overflow: visible;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 4px;

    border-radius: 4px;
}

#price-history-chart .highcharts-button > text, #price-history-chart .highcharts-label > text, #price-history-chart .highcharts-tooltip-box > text {
    font-size: 1.3rem!important;
    line-height: 1.5!important;
    font-weight: 500!important;
    fill: rgba(255, 255, 255, 0.3)!important;
}

#price-history-chart .highcharts-button-pressed > text {
    fill: var(--blue)!important;
}

#price-history-chart .highcharts-button-hover > text {
    fill: var(--blue)!important;
}

#price-history-chart .price-history-chart-point-box__date {
    fill: rgba(255, 255, 255, 0.7);
    line-height: 1.4;
}

#price-history-chart .price-history-chart-point-box__price {
    fill: #fff;
    font-weight: 900;
}