.price-volatility-chart__wrapper {
    visibility: visible;
    height: 224px;

}

.price-volatility-chart {
    position: relative;
    height: 140px;
}

.price-volatility-chart__svg {
    margin-top: 50px;
    max-height: 180px;
    position: absolute;
    overflow: visible;
    width: 100%;
    inset: 0;
}

.price-volatility-chart__label {
    user-select: none;
    fill: #fff;
}

.price-volatility-chart__label--dark {
    fill: #262e3a;
}

.price-volatility-chart__gradient--start {
    stop-color: #2dc97e;
}

.price-volatility-chart__gradient--middle {
    stop-color: #eeb219;
}

.price-volatility-chart__gradient--end {
    stop-color: #e64141;
}
