:root {
    --snowflake-chart-color-green: #6bc51a;
    --snowflake-chart-border-color-green: #79ee04;
}

.snowflake{
    position: relative;
}

.snowflake-chart {
    margin-top: 3px;
}

.snowflake-labels {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.snowflake-labels > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.snowflake-labels__inner {
    position: absolute;
    left: 0;
    right: 0;
}

.snowflake-labels__item--value {
    transform: translate(0%, 2%);
}

.snowflake-labels__item--future {
    transform: translate(-4%, -1%);
}

.snowflake-labels__item--past {
    transform: translate(-2.3%, -5.6%);
}

.snowflake-labels__item--health {
    transform: translate(3%, -5%);
}

.snowflake-labels__item--dividend {
    transform: translate(4.4%, -1.7%) rotate(0.4deg);
}

.snowflake-labels__label-text {
    fill: #fff;
}
