{% extends 'invest/base/base_v2.html' %}
{% load static %}

{% block title %}
    {{ company.title }} ({{ company.market.title }}:{{ company.ticker }}) - Обзор компании, Новости, Аналитика - Finargo
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'invest/css/company/detail/detail_v2.css' %}">
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js" defer></script>
    {% include 'invest/company/detail/js_declaration/highcharts_declaration.html' %}
    {% include 'invest/company/detail/js_declaration/charts_declaration.html' %}
    <script src="{% static 'invest/js/company/detail/update_dynamic_data.js' %}" defer></script>
    <script src="{% static 'invest/js/company/detail/sidebar/sidebar.js' %}" defer></script>
    <script type="module" src="{% static 'invest/js/company/detail/sidebar/copy.js' %}" defer></script>
    <script type="module" src="{% static 'invest/js/company/detail/watchlist.js' %}" defer></script>
    <script type="module" src="{% static 'invest/js/company/detail/portfolio.js' %}" defer></script>
    <script type="module" src="{% static 'invest/js/company/detail/notes.js' %}" defer></script>
    <script src="{% static 'invest/js/company/detail/detail.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="detail">
    <section class="detail__inner">

        {% include 'invest/company/detail/header/header.html' with company=company %}

        {% include 'invest/company/detail/main/main.html' with company=company %}

    </section>
</div>
    
{% include 'invest/company/detail/modal_menu/analyst_sources_modal_menu.html' with company_info=company_detail_header_info %}
{% include 'invest/company/detail/modal_menu/add_to_portfolio_modal_menu.html' with company_info=company_detail_header_info %}
{% include 'invest/company/detail/modal_menu/add_notes_modal_menu.html' with company_info=company_detail_header_info %}

{% include 'invest/company/detail/svg_declaration/svg_declaration.html' %}
{% include 'invest/company/detail/svg_declaration/css-patterns.html' %}
{% include 'invest/company/detail/svg_declaration/lineair-gradient.html' %}
{% endblock %}