@use 'sass:selector';
@use 'sass:math';
@use '../../styles/settings';
@use '../../styles/tools';
@use './variables' as *;

@include tools.layer('components') {
  .base-autocomplete {
    .base-field {
      .base-text-field__prefix,
      .base-text-field__suffix,
      .base-field__input,
      &.base-field {
        cursor: text;
      }
    }
    .base-field {
      .base-field__input {
        > input {
          flex: 1 1;
        }
      }
    }
    .base-field {
      input {
        min-width: $autocomplete-focused-input;
      }
      &:not(.base-field--focused) {
        input {
          min-width: 0;
        }
      }
    }
    .base-field--dirty {
      .base-autocomplete__selection-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .base-autocomplete {
    &__content {
      overflow: hidden;

      @include tools.elevation($autocomplete-content-elevation);
      @include tools.rounded($autocomplete-content-border-radius);
    }
    &__mask {
      background: rgb(var(--base-theme-surface-light));
    }
    &__selection {
      display: inline-flex;
      align-items: center;
      height: calc($input-font-size * $input-line-height);
      letter-spacing: inherit;
      line-height: inherit;
      max-width: calc(100% - $autocomplete-selection-gap - $autocomplete-input-buffer);
    }
    &__selection {
      &:first-child {
        margin-inline-start: 0;
      }
    }
    &--chips.base-input--density-compact {
      .base-field--variant-solo,
      .base-field--variant-solo-inverted,
      .base-field--variant-filled,
      .base-field--variant-solo-filled {
        .base-label.base-field-label {
          &--floating {
            top: 0px;
          }
        }
      }
    }
    &--selecting-index {
      .base-autocomplete__selection {
        opacity: var(--base-medium-emphasis-opacity);

        &--selected {
          opacity: 1;
        }
      }
      .base-field__input > input {
        caret-color: transparent;
      }
    }
    &--single:not(.base-autocomplete--selection-slot) {
      &.base-text-field input {
        flex: 1 1;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        padding-inline: inherit;
      }
      .base-field--active {
        input {
          transition: none;
        }
      }
      .base-field--dirty:not(.base-field--focused) {
        input {
          opacity: 0;
        }
      }
      .base-field--focused {
        .base-autocomplete__selection {
          opacity: 0;
        }
      }
    }
    &__menu-icon {
      margin-inline-start: 4px;
      transition: $autocomplete-transition;

      .base-autocomplete--active-menu & {
        opacity: var(--base-high-emphasis-opacity);
        transform: rotate(180deg);
      }
    }
  }
}