<section>
  <h2 class="analysis-section__title">
    <span class="analysis-section__title-num">1.4</span>Historical Price to Earnings Ratio
  </h2>
  <p class="analysis-section__desc">Historical Price to Earnings Ratio compares a stock's price to its earnings over time. Higher ratios indicate that investors are willing to pay more for the stock.</p>
  <div class="analysis-section__content">
    <div class="analysis-section__content-item">
      <div class="historical-metrics-chart">
        <div class="historical-metrics-chart__tabs-wrapper">
          <div class="historical-metrics-chart__tabs">
            <div class="chart__tab">

              {% include 'invest/company/detail/main/content/blocks/chart/multiple-tab-button.html' %}
              {% include 'invest/company/detail/main/content/blocks/chart/multiple-dropdown-menu.html' %}

            </div>
          </div>
          <div class="historical-metrics-chart__periodical-tabs">
            <div role="tablist" class="historical-metrics-chart__periodical-tab-list">

              <button role="tab" value="3M" id="3M-tab" class="historical-metrics-chart__periodical-tab" disabled>3M</button>
              <button role="tab" value="1Y" id="1Y-tab" class="historical-metrics-chart__periodical-tab">1Y</button>
              <button role="tab" value="3Y" id="3Y-tab" class="historical-metrics-chart__periodical-tab">3Y</button>
              <button role="tab" value="5Y" id="5Y-tab" class="historical-metrics-chart__periodical-tab">5Y</button>

            </div>
          </div>
        </div>

        <div id="historical-metrics-chart"></div>

      </div>
    </div>
  </div>
</section>