<section>
  <h2 class="analysis-section__title">
    <span class="analysis-section__title-num">1.5</span>Price to Earnings Ratio vs Industry
  </h2>
  <p class="analysis-section__desc">How does SBER's PE Ratio compare vs other companies in the European Banks Industry?</p>
  <div class="analysis-section__content">
    <div class="analysis-section__content-item">
      <div class="multiple-vs-industry-chart">
          <div class="chart__tabs">

            <div class="chart__tab">
              {% include 'invest/company/detail/main/content/blocks/chart/multiple-tab-button.html' %}
              {% include 'invest/company/detail/main/content/blocks/chart/multiple-dropdown-menu.html' %}
            </div>

          </div>
          <div id="multiple-vs-industry-chart"></div>
      </div>
    </div>
    <div class="analysis-section__content-item">
      <div class="analysis-section__points">
        <blockquote class="analysis-section__point">
          <svg width="24" height="24" fill="#2dc97e" class="analysis-section__point-icon"><use href="#check-icon"></use></svg>
          <p class="analysis-section__point-text">
            <span class="analysis-section__point-title">Price-To-Earnings vs Industry: </span>
            <span>SBER is good value based on its Price-To-Earnings Ratio (2.6x) compared to the European Banks industry average (7.3x)</span>
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>