<div class="detail-company__wrapper">
  <section class="detail-company__analysis-section">

      <div class="analysis-section__intro">
      <h1 class="analysis-section__intro-title">
        <span class="analysis-section__title-num">1</span>Valuation
      </h1>
      <p class="analysis-section__desc">Is SBER undervalued compared to its fair value, analyst forecasts and its price relative to the market?</p>
      {% include 'invest/company/detail/main/content/blocks/analysis_score.html' with data=data block='valuation' %}
    </div>
    {% include 'invest/company/detail/main/content/analysis/valuation/share-price-vs-fair-value.html' %}
    <hr>
    {% include 'invest/company/detail/main/content/analysis/valuation/key-valuation-metric.html' %}
    <hr>
    {% include 'invest/company/detail/main/content/analysis/valuation/price-to-mult-ratio-vs-price.html' %}
    <hr>
    {% include 'invest/company/detail/main/content/analysis/valuation/historical-price-to-earnings-ratio.html' %}
    <hr>
    {% include 'invest/company/detail/main/content/analysis/valuation/price-to-earnings-vs-industry.html' %}
    <hr>
    {% include 'invest/company/detail/main/content/analysis/valuation/price-to-mult-ratio-vs-fair-ratio.html' %}
    <hr>
    {% include 'invest/company/detail/main/content/analysis/valuation/analyst-price-targets.html' %}

    </section>
</div> <!-- /detail__valuation -->