@use '../../styles/settings';

// BaseLabel
$label-color: inherit !default;
$label-disabled-color: rgba(var(--base-theme-on-surface), var(--base-disabled-opacity)) !default;
$label-display: inline-flex !default;
$label-error-color: rgb(var(--base-theme-error)) !default;
$label-font-size: 1rem !default;
$label-letter-spacing: .009375em !default;
$label-opacity: var(--base-medium-emphasis-opacity) !default;