@use "../../styles/tools";
@use "./variables" as *;

@include tools.layer('components') {
  // Block
  .base-chip-group {
    display: flex;
    max-width: 100%;
    min-width: 0;
    overflow-x: auto;
    padding: $chip-group-padding;

    .base-chip {
      margin: $chip-group-margin;

      &.base-chip--selected:not(.base-chip--disabled) {
        .base-chip__overlay {
          opacity: $chip-group-selected-opacity;
        }
      }
    }
  }
  // Modifiers
  .base-chip-group--column {
    .base-slide-group__content {
      white-space: normal;
      flex-wrap: wrap;
      max-width: 100%;
    }
  }
}