@use '../../styles/settings';
@use '../../styles/tools';

@include tools.layer('components') {
  .base-layout-item {
    position: absolute;
    transition: .2s settings.$standard-easing;
  }
  .base-layout-item--absolute {
    position: absolute;
  }
}