html, body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	background-color: var(--bg-color);
	color: #fff;
	min-width: 1200px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, .2);
	background-color: #f9f9fd;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #00c6fb, #005bea);
}

body[disabled] {
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	font: inherit;
	background: none;
	cursor: pointer;
}

button[disabled] {
	cursor: auto;
}

input {
	outline: none;
}

.none {
	display: none;
}

.default-logo {
	font-size: 30px;
	font-weight: 900;
	user-select: none;
}

.content__button {
	padding: 0 36px 0 12px;
	background-color: transparent;
	position: relative;
	transition: background-color .2s ease 0s;
	color: rgba(255, 255, 255, .7);
	border-radius: 6px;
	user-select: none;
}

.content__button:hover {
	background-color: rgba(255, 255, 255, .05);
}

/* LOGIN */
.login {
	width: 100%;
	background-color: rgba(38, 46, 58, .4);
	padding: 32px;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
	z-index: 9999;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	visibility: hidden;
	/* transition: visibility 0s 0.6s, opacity 0.6s ease; */
	opacity: 0;
	overflow: hidden;

}

.login--active {
	transition: visibility 0s 0s, opacity .6s ease;
	visibility: visible;
	opacity: 1;
}

.login__inner {
	display: flex;
	position: relative;
	align-self: center;
	width: 100%;
	max-width: 100%;
	min-height: 0;
	flex: 0 0 100%;
	justify-content: center;

}

.login__login-form {
	display: flex;
	position: relative;
	flex-flow: wrap;
	justify-content: left;
	width: 100%;
	min-height: 356px;
	max-width: 877px;
	border-radius: 6px;
	background-color: #fff;
}

.login__close-button {
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: 1;
	cursor: pointer;
}

.login-form__left-section {
	position: relative;
	width: 100%;
	max-width: 58.3%;
	flex: 0 0 58.3%;
}

.login-form__wrapper {
	height: 100%;
	color: rgb(95, 104, 117);
	background: url(../img/login_bg.png) right bottom no-repeat, linear-gradient(rgba(35, 148, 223, .3) 0%, rgba(35, 148, 223, .1) 100%) fixed;
}

.login-left-section__inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 32px 40px 32px 32px;
}
.login-left-section__logo {
	color: #000;
}
.login-left-section__info {
	flex: 1 1 0;
	max-width: 70%;
}
.login-left-section__h {
	margin-top: 24px;
	margin-bottom: 6px;
	color: rgb(21, 27, 36);
	font-weight: 500;
	font-size: 21px;
	line-height: 27px;
}

.login-left-section__h span {
	display: block;
	color: var(--blue);
}

.login-left-section__p {
	margin-bottom: 1em;
	font-size: 1.6rem;
	line-height: 1.5;
}

.login-form__right-section {
	position: relative;
	width: 100%;
	min-width: 41.7%;
	flex: 0 0 41.7%;
}

.login-right-section__inner {
	padding: 40px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.form__errors--active {
	font-size: 1.2rem;
	padding: 12px;
	margin-bottom: 16px;
	background-color: #e64141;
}

.form__field-error{
	font-size: 1.2rem;
	color: #e64141;
}

.login-right-section__p {
	margin-bottom: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 500;
	color: rgb(21, 27, 36);
	text-align: center;
}

/* LOGIN FORM */
.login-right-section__form {
	min-height: 238px;
}

.form__field {
	position: relative;
	margin-bottom: 2.4rem;
}

.form__field--registration {
	margin-bottom: 1.2rem;
}

.form__fieldset {
	margin: 0;
	position: relative;
	padding-top: 24px;
	border: transparent;
}

.form__input {
	padding: 14px;
	padding-right: 48px;
	padding-left: 12px;
	font-size: 1.4rem;
	width: 100%;
	border-radius: 4px;
	height: 40px;
	color: rgb(38, 46, 58);
	border: 1px solid rgb(38, 46, 58, .2);
	background-color: rgba(38, 46, 58, .05);
	transition: border .2s ease 0s, background-color .2s ease 0s;
	caret-color: rgb(35, 148, 223);
}

.form__input--error {
	border: 2px solid rgb(230, 65, 65);
}

.form__input::placeholder {
	color: rgba(38, 46, 58, .5);
}

.form__label {
	display: block;
	opacity: .7;
	color: rgb(38, 46, 58);
	font-size: 1.4rem;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 0;
	transition: opacity .3s ease 0s;
	line-height: 1.5;
}

.form__error {
	font-size: 1.2rem;
	animation: .2s linear 0s 1 normal forwards running k-form-error;
	position: relative;
	font-weight: normal;
	line-height: 1.5;
	color: rgb(230, 65, 65);
}

.form__help-text {
	font-size: 1.2rem;
	padding-top: 1.6rem;
	color: rgb(140, 146, 155);
	font-weight: normal;
	line-height: 1.5;
	text-align: left;
}

.form__forgot-password {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-top: 8px;
	text-align: right;
	text-decoration: underline;
	color: rgb(35, 148, 223);
}

.form__button {
	margin-top: 2.4rem;
	font-size: 1.4rem;
	color: #fff;
	padding: 0;

	background-color: rgb(35, 148, 223);
	width: 100%;
	height: 40px;
}

.form__button:hover {
	background-color: rgb(32, 112, 165);
}

.form__button--disabled {
	opacity: .3;
	cursor: auto;
	pointer-events: none;
}

.login-right-section__socials {
	padding-top: 24px;
}

.login-right-section__p--social {
	text-align: left;
	font-weight: normal;
	color: #000;
}

.login-right-section__socials-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
}

.login-right-section__socials-icon {
	position: relative;
}

.login-right-section__social-button {
	position: relative;
	border: 0;
	border-radius: 6px;
	vertical-align: top;
	padding: 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 8px;
	width: 42px;
	height: 42px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 3px;
	transition: background-color .2s ease 0s, box-shadow .2s ease 0s, color .4s ease 0s, padding .4s ease 0s;
}

.login-right-section__social-button:hover {
	box-shadow: rgba(0, 0, 0, .2) 0 2px 3px;
}

.login-right-section__social-button img {
	left: 10px;
	top: 10px;
	width: 22px;
	height: 22px;

	display: inline;
	vertical-align: middle;
	margin: 0 -4px;
}

/* END LOGIN FORM */

.login-right-section__p span {
	display: block;
}

.login-right-section__button {
	position: relative;
	padding: 0.4rem 0;
}

.login-right-section__button button {
	padding: 0 12px 0 32px;
	font-size: 1.6rem;
	line-height: 1.5;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	justify-content: flex-start;
	font-weight: 500;
	color: #fff;
}

.google-sign-up__button:hover {
	background-color: rgb(167, 60, 50);
}

.email-sign-up__button:hover {
	background-color: rgb(32, 116, 172);
}

.login-right-section__button button img {
	width: 20px;
	height: 20px;
	margin: 0 12px;
}

.google-sign-up__button {
	background-color: rgb(209, 73, 60);
}

.email-sign-up__button {
	background-color: rgb(35, 148, 223);
}

.email-sign-up__button img {
	filter: invert(1);
}

.login-right-section__sign-in {
	margin: 16px 0;
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #000;
}

.login-right-section__sign-in span {
	color: var(--blue);
	font-weight: 500;
	border-bottom: 1px solid rgba(35, 148, 223, 0);
	transition: border-bottom .2s ease;
	cursor: pointer;
}

.login-right-section__sign-in span:hover {
	border-bottom: 1px solid rgba(35, 148, 223, 1);
}

.login-right-section__conditions p {
	font-size: 1.2em;
	line-height: 1.5;
	text-align: center;
	color: rgb(95, 104, 117);
	margin: 0;
}

.login-right-section__conditions p a {
	border-bottom: 1px solid rgba(38, 46, 58, .3);
	transition: border-bottom .2s ease;
}

.login-right-section__conditions p a:hover {
	border-bottom: 1px solid rgba(38, 46, 58, .6);
}

/* DROP DOWN PROFILE */
.account-access__dropdown {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .6s, opacity .6s ease;
}

.account-access__dropdown--active {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s 0s, opacity .6s ease;
}
.account-access__navigation {
	width: 200px;
	position: absolute;
	bottom: 1px;
	right: 16px;
}

.account-access-navigation__inner {
	position: absolute;
	top: -6px;
	left: 0;
	width: 100%;
	background-color: #262e3a;
	border-radius: 4px;
}

.account-access__list {
	list-style: none;
}

.account-access__list li {
	font-size: 1.4rem;
	line-height: 1.5;
}

.account-access__list li:last-child {
	border-top: 1px solid #3c434e;
}

.account-access__list li a {
	display: block;
	padding: 12px 16px;
	transition: all .3s ease 0s;
}

.account-access__list li:first-child a {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.account-access__list li:last-child a {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.account-access__list li a:hover {
	background-color: rgb(35, 148, 223);
}

/* BASE */




/* KEY FRAMES */
@keyframes k-form-error {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
