html, body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	background-color: var(--bg-color);
	color: #fff;
	min-width: 1200px;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, .2);
	background-color: #f9f9fd;
	border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #00c6fb, #005bea);
}
body[disabled] {
	overflow-y: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	border: none;
	font: inherit;
	background: none;
	cursor: pointer;
}
button[disabled] {
	cursor: auto;
}
input {
	outline: none;
}
table {
	width: 100%;
    border-spacing: 0;
    border: none;
    border-radius: 0;
}
table th {
	font-weight: normal;
    text-align: left;
    line-height: 1.5;
}
svg {
	width: 24px;
	height: 24px;
	fill: #fff;
}
ul {
	list-style-type: none;
}

.text--success {
	color: var(--color-success);
}
.text--error {
    color: var(--color-error)
}



