@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i,900,900i&subset=cyrillic");

:root {
	--header-color: #1b222d;
	--bg-color: #151b24;
	--blue: #2394df;
	--blue-hover: #2085c9;
	--white-hover: #e6e6e6;
	--font-size: 10px;
	--font-family: 'Roboto', sans-serif;
	--color-success: #2dc97e;
	--color-error: #e64141;
}